<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="userService" class="com.brumma.dao.impl.UserDao" />

	<bean id="authenticationDemoProvider" class="com.brumma.security.AuthenticationDemoProvider">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="authenticationDemoSuccessHandler" class="com.brumma.security.AuthenticationDemoSuccessHandler" />

	<bean id="accessDeniedHandler" class="com.brumma.security.DemoAccessDeniedHandler" />

	<bean id="demoAuthenticationDetailsSource" class="com.brumma.security.DemoAuthenticationDetailsSource" />

	<bean id="customLogoutSuccessHandler" class="com.brumma.security.CustomLogoutSuccessHandler" />


	<security:authentication-manager>
		<security:authentication-provider
			ref="authenticationDemoProvider" />
	</security:authentication-manager>

	<security:http use-expressions="true">
		<security:csrf disabled="true" />

		<security:intercept-url pattern="/index.xhtml"
			access="isAuthenticated()" />

		<security:intercept-url pattern="/login.xhtml"
			access="hasRole('ROLE_ANONYMOUS')" />
			
			<security:intercept-url pattern="/test**"
			access="permitAll" />

		<security:form-login login-page="/login.xhtml"
			username-parameter="username" password-parameter="password"
			authentication-success-handler-ref="authenticationDemoSuccessHandler"
			authentication-details-source-ref="demoAuthenticationDetailsSource"
			login-processing-url="/j_spring_security_check" />

		<security:logout success-handler-ref="customLogoutSuccessHandler"
						 delete-cookies="JSESSIONID" logout-url="/j_spring_security_logout" />

		<security:access-denied-handler ref="accessDeniedHandler" />
	</security:http>

</beans>